@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

Form {
  margin-top: 265px;
}

#title {
  font-size: 70px;
  font-family: 'Staatliches', cursive;
}

.label {
  margin-top: 10px;
  font-size: 25px;
  font-family: 'Staatliches', cursive;
  margin-bottom: 20px;
}

#label{
  margin-bottom: 60px;
}

.googlebutton {
  background-color: white;
  color: black;
  border: 3px solid #0e130e;
  border-radius: 12px;
  padding: 1px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
  margin-bottom: 20px;
  font-family: 'Staatliches', cursive;
}
.submit {
  margin-top: 20px;
  background-color: white;
  color: black;
  border: 3px solid #0e130e;
  border-radius: 12px;
  padding: 1px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
  font-family: 'Staatliches', cursive;
}