.media{
    float: right;
}

.rounded-circle.user{
    height: 50px;
    width: 50px;
    margin-top: 10px;
}

.media-body{
    margin-top: 15px;
    margin-left: 5px;
    font-size: small;
}

h5.mt-0{
    font-size: small;
}

