.jumbotron{
    background-image: url(https://images.unsplash.com/photo-1565452171067-f2b1384f958d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
    background-position: center;

}

.jumbotron2{
    background-color: grey;
    background-position: center;
    padding-top: 75px;
    padding-bottom: 80px;

}

.jumbotron3{
    background-color: grey;
    background-position: center;
    padding-top: 75px;
    padding-bottom: 80px;
    

}

.ad2{
    justify-content: right;
    color: #2e0089;
}

.lead{
    color: #2e0089;
}

.lead2{
    color: #2e0089;
}
